.chartTitle {
margin-top: 30px;
}
div.chart {
font: 10px sans-serif;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.line.second {
    stroke: red;
}
.area {
    fill: none;
    opacity: 0.5;
}
.dot {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
path {
    stroke-width: 1;
    fill: none;
}
.data1 {
    stroke: steelblue;
    stroke-width: 1.5px;
}
svg {
    background-color: #fff;
    border: 1px solid #ddd;
    font: 10px sans-serif;
    border: 3px lightgray solid;
    border-radius: 10px;
}