// Variables
@import vars.sass
@import global768.sass

.panel, .panel.v2
  h2
    padding: 3px 10px

  h2.appointments, h2.alarm
    padding: 3px 15px 3px 40px

  
h2.alarm
  background: url(/img/icons/alarm-2.png) no-repeat 10px 8px $brown

h3
  color: $green

 
.panel
  background: url(/img/bgds/grey-grd-bgd.png) repeat-x center top white 
  border: 2px solid white
  &.v2
    background: url(/img/bgds/grey-grd-bgd-2.png) repeat-x center bottom white 
  &.wrap
    background: url(/img/bgds/grey-grd-bgd.png) repeat-x center top white
    margin: 15px 0
    h2
      padding: 0 10px

.placeholder
  width: 100%
  height: 120px
  background: #ececec
  border: 1px solid #ccc  
  float: left
  margin: 0 10px 10px 0

.appointment, .reminder
  border: 1px solid white
  background: lighten($vetsk-grey, 50%)
  // background: #F9FCE8
  font-size: 0.9em
  +roundcorners
  +boxshadow
  margin: 12px -3px 0 -3px
  padding: 5px

  p
    font-size: 0.9em  
    padding:  3px 0 
    line-height: 1.5
    &.info
      color: #999
      font-family: Georgia, "Times New Roman", serif
      font-style: italic
      font-size: 1.1em
  dt  
    width: 15%
    clear: both
    border: none
    &.time-icon
      // background: url(/img/icons/app-time.png) no-repeat 0 3px
      font-weight: bold
      // padding-left: 20px
    &.vet-icon
      // background: url(/img/icons/app-vet.png) no-repeat 0 2px
      font-weight: bold
      // padding-left: 20px
    &.pet-icon
      // background: url(/img/icons/app-pet.png) no-repeat 0 3px
      font-weight: bold
      // padding-left: 20px
    &.procedure-icon
      // background: url(/img/icons/app-procedure.png) no-repeat 0 3px
      font-weight: bold   
      // padding-left: 20px
  dd
    width: 75%
    border: none

dl#pet_fullprofile
  width: 65%
  float: left
  margin-left: 10px
  dt
    padding: 5px 10px
    font-weight: 600
    border: none
    background: #F6F6F6
    margin: 0 0 5px
  dd
    padding: 4px 1%
    
.userprofile  
  width: 55%
  h1  
    font-size: 1.7em !important
    line-height: 1.1
    padding: 0
    margin: 0 0 5px
  .details
    p
      font-size: 0.8em
      
p.pet_description 
  width: auto
  margin: 15px 0 0

#profilephoto.pet
  img
    width: 80px

.petprofile 
  clear: both
  padding-left: 0
  overflow: visible
  h1
    line-height: 0.5
  h2
    padding: 0 0 0 10px
  .details
    dl
      min-width: 180px
    dt
      padding: 5px
      margin: 2px 0 0
      float: left
    dd
      padding: 5px 
      margin: 2px 0
      float: left
      width: 50%

#pets-and-procedures
  width: 30%
  
.pet-procedures
  dl
    background: #f6f6f6
    float: left
    font-size: 0.75em
    padding: 10px 0 0 5px
  dt
    font-weight: bold
    padding: 0 5px 
  dd
    padding: 0 5px 10px
    float: left
    width: 95%
    
    
#procedure-list
  width: 62%
  .procedure
    width: 43%
    padding: 5px 1% 0
    margin: 0 2% 15px 2%  
    height: 160px 
  h2
    font-size: 1.5em

    
.pet-appointment
  h1
    margin: 0 8px 

