// Get globally applicable styles
@import global.sass

body
  
h1, h2, h3, p
  font-weight: normal
  margin: 0 0 0.5em
  
h1, h2, h3, h4
  font-family: $nicefont


h1
  font-size: 2em
  color: $brown
  margin: 0
  .home &
    letter-spacing: -1px
    font-weight: 600
  .about &, .klinics &, .online_store &, .vets_kitchen &, .klinicstv &, .pricing &, .faqs &, .shop &, .newsletters &
    color: $orange
  span
    font-weight: 500

h2
  color: $midgreen
  font-size: 1.7em
  font-weight: 600
  line-height: 1
  span
    color: $lightgreen
  .pricing &
    color: $orange
    font-size: 0.7em
    font-size: 1.1rem

h3
  color: $brown
  font-size: 1.1em
  font-weight: 500


h4
  margin: 0
  display: block
  font-weight: 400
  font-size: 1em
  line-height: 1.3
  color: #666
  .owner &
    margin: 0
    color: $midgreen
  
p
  font-size: 0.9em
  line-height: 1.5

#content h1
  font-size: 2.3em
  text-shadow: 0 1px 0 #fff
  .home &
    margin: 0
    line-height: 1
  .shop &
    // font-size: 2em 

// PAGE BLOCKS

#header
  background: $brown
  border-bottom: 1px solid white
  +boxshadow($xoff: 0, $yoff: 5px, $blur: 6px, $spread: 0, $color: rgba(0,0,0,0.3))
  margin: 0 auto
  padding: 0 3% 0
  .owner &
    border-bottom: none

#nav
  margin: 0 auto
  box-shadow: 0 5px 6px 0 rgba(0,0,0,0.3)


#content, #footer
  width: 90%
  margin: 0 auto
  padding: 0 
  span
    text-align: left

#footer
  padding: 0
  line-height: 1.5
  .smallprint
    background: #fff
    border-bottom: 1px dotted #333
    margin: 0 0 10px
    padding: 5px 0
    text-align: center

#content
  margin: 20px auto 0

#breadcrumb
  font-size: 0.8em
  padding: 20px 0
  color: #666


a.badge
  cursor: pointer
  background: url(/img/bgds/lime-grd-bgd.png) repeat-x 0 0 $vetsk-green-mid
  border: 2px solid #7d9423
  font-size: 0.9em
  font-weight: bold
  +roundcorners(10px)
  color: #fff
  text-shadow: 0 1px 0 $vetsk-green-dark
  text-decorartion: none
  padding: 3px 10px
  &:hover
    background: $vetsk-green
    color: #fff
    text-shadow: none
    text-shadow: 0 1px 0 $vetsk-green-dark
    
  #header &
    background: $vetsk-green-mid
    border: 2px solid #fff
    padding: 5px 12px
    text-shadow: none
    
  .col &
    margin: 10px 0 0
    display: block
    width: 110px
    padding: 8px
    text-align: center

// HEADER STYLES

#logo
  padding: 5px 0 10px

img.visitshop    
  margin: -82px 20px 0 0
  float: right

img.petprofile
  width: 95%
  margin: 15px 10px 0 0

// CONTENT TEMPLATES

.panel
  // background: url(/img/bgds/grey-grd-bgd.png) repeat-x 0 0 white 
  background: white
  +roundcorners(10px)
  margin: 0 0 15px
  padding: 10px
  +boxshadow
  &.video
    background: #000
    color: #fff
    border: 10px solid #fff
    z-index: 200
    position: relative
    
  p
    font-size: 0.95em 
    line-height: 1.4
    color: $brown
    .shop &
      font-size: 0.8em
  
  &.veterinaries, &.klinictv, &.shoponline
    a.badge
      &:hover
        background-image: none
    h2
      margin: 0
    img
      margin: 5px 0 0 !important
    h3
      margin: 5px 0 10px 0
      line-height: 1.4      
        
  &.veterinaries
    h2, h4
      color: $orange
    a.badge 
      background: center top $vetsk-skyblue 
      border: 2px solid $orange
  &.klinictv
    h2, h4
      color: $orange  
    a.badge 
      background: center top #eb9719 
      border: 2px solid #bd6c13
  &.shoponline
    h2, h4
      color: $purple  
    a.badge 
      background: center top $purple 
      border: 2px solid #8c3e77   
      
  &.vetskitchen
    h3
      color: $midgreen
      font-size: 1.23em
      line-height: 1.3
    .product
      padding: 10px 
      width: 37%
      float: left
      margin: 10px 10px 0 0
      text-align: center
      +roundcorners
      &.last
        margin-right: 0
      p
        margin: 0
        padding: 5px 0 5px
        line-height: 1
        color: $blue

    a.badge 
      font-size: 1.1em
      display: block
      text-align: center
  
  &.subscribe
    width: 28%
    float: right
    h2
      font-size: 1.4em
      margin: 0
      
  &.latestnews
    p
      font-size: 1.2em
      padding: 5px 0    
    p.title
      font-weight: bold  
      font-size: 1.3em  
      border-top: 1px dotted #ccc 
      border-bottom: 1px dotted #ccc
      color: #DF8B16 
      
  &.v2
    //background: url(/img/bgds/grey-grd-bgd-2.png) repeat-x center bottom white    
    
  &.online_shop
    ul
      li
        border-top: 1px dotted #ccc
        h3
          font-size: 1.4em  
          font-weight: bold
          margin: 0
          color: $green
          &:hover
            color: #000
        p
          padding: 0 0 0 10px
          font-size: 1.1em 
          &:hover
            color: #000

  .newsletters &  
    min-height: 345px


// ========
// = TABS =
// ========

.pane
  +roundcorners(10px)
  padding: 10px
  background: #fff
.tab
  +roundtopcorners(5px)
  padding: 10px
  float: left
  color: $vetsk-blue-dark
  background: #fff
  margin-left: 10px
  &.inactive
    background: $vetsk-blue
    border-top: 2px solid #fff
    border-left: 2px solid #fff
    border-right: 2px solid #fff
    padding: 8px 8px 10px

.promopanel
  +roundcorners
  padding: 10px
  background: #fff
  border: 1px solid #ccc
  margin: 0 0 10px 
  img#profilephoto
    float: left
    width: 160px
    margin-right: 20px
    border: 5px solid #fff
    +boxshadow
  h2
    line-height: 1.3    

    
// =============
// = FAQs Page =
// =============        
p.q
  font-weight: bold
  color: $midgreen
  font-size: 1.2em
p.a         
  // border-bottom: 1px dotted #ccc
         
// ================
// = SIGN UP Page =
// ================         
ul.signup
  margin: 5px 10px  
  padding: 0
  li
    padding: 0 0 0 30px
    list-style: none
    font-size: 0.95em       
    color: $brown   
    line-height: 2.2    
    &.interact
      background: url(/img/speechbubbles-24.png) no-repeat 0 4px 
    &.updates
      background: url(/img/emailalert-24.png) no-repeat 0 4px
    &.videos
      background: url(/img/videos-24.png) no-repeat 0 4px
    &.discounts
      background: url(/img/label-24.png) no-repeat 0 4px
    &.register
      background: url(/img/usercard-24.png) no-repeat 0 4px        
               
 
.terms
  height: 90px
  font-size: 0.9em
  color: #999
  width: 91%
  padding: 5px 3% 5px 1%
  border: 1px solid #333
  margin: 0 0 5px
  overflow-y: scroll
  h4
    background: lighten($vetsk-grey, 20%)
    padding: 5px 
    color: #fff
    margin: 0 0 10px
    font-weight: bold
    text-transform: uppercase


// ========
// = Wall =
// ========

.postIt, .postItDone
  font-size: 12px
  text-align: center
  height: 150px
  width: 200px
  background: #FCF0AD
  margin: 5px
  padding: 10px
  box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 0 30px rgba(0,0,0,0.1) inset
  word-wrap: break-word
  .difficulty
    text-align: center
    width: 100%
    position: absolute
    left: 0px
    bottom: 5px
  .title
    text-align: center
    width: 100%
    top: 5px
    font-weight: bold
    font-size: 14px
  .description
    text-align: center
    width: 100%
    margin-top: 20px

               
.container_highlight
  background: darken(#FFFFFF, 5%)