%h2 Appointment cancellation

%p Dear #{@appointment.owner.first_name || Client}

%p Your appointment for #{@appointment.pets_name} at Vet’s Klinic Swindon Swindon on the #{@appointment.start_at} has been successfully cancelled.

- if @appointment.refund_due
  %p Your card will be refunded within the next 72 hours. If you cancelled the appointment within 14 days of the appointment date a £5 administration charge will be deducted from the refund.

%p If you have any concerns or questions relating to this appointment, or for help with re-booking, please don’t hesitate to ring the practice on 01793 876619 or email contact@vetsklinic.co.uk.

%p We very much look forward to seeing you and PET NAMES(S) at the Klinic in the future.