%h1 Admin User

%form{:action => "/admin/admin_users/#{@admin_user.id unless @admin_user.new?}", :method => :post}
  - unless @admin_user.new?
    %input{:type => :hidden, :name => "_method", :value => :put}
  %p
    %label Login
    %input{:type => :text, :name => "admin_user[login]", :value => @admin_user.login}
  %p
    %label First Name
    %input{:type => :text, :name => "admin_user[first_name]", :value => @admin_user.first_name}
  %p
    %label Last Name
    %input{:type => :text, :name => "admin_user[last_name]", :value => @admin_user.last_name}
  %p
    %label Email
    %input#email{:type => "text", :name => "admin_user[email]", :value => @admin_user.email }
    
  %p
    %input{:type => :submit, :name => '', :value => :submit}