- @title = "We're sorry, but something went wrong (500)"

%h1.center Oops an 500 Error!

.div.center
  %h2
    We're sorry, but something went wrong.
  %h3 
    We've been notified about this issue and we'll take a look at it shortly.
  %p
    %a{:href => "/owner"} &larr; go back
    or press the F5 key to refresh your page