!!! Strict
%html{ html_attrs("en_us") }
  %head
    %title 
      Vet's Klinic Owner Login
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/

    - %w(jquery-1.7.2.min.js).each do |j|
      %script{:type => 'text/javascript', :language => 'javascript', :src => "/js/#{j}"}

    %link{:rel => "stylesheet", :type => "text/css",  :href => "/css/site.css"}  
    
    /[if lte IE 8] 
    %link{:rel => "stylesheet", :type => "text/css",  :href => "/css/site-ie.css"} 

    
  %body{:class => @bclass, :id => @bid}
    -# show flash message if any (from sinatra-flash)
    =styled_flash
    
    
    #loginpanel{:class => @cclass}      
      #login
        - if ob?
          .devnotes
            If we're using dialog anyway I think this would be more 'web 2.0' as a dialog rather than a new page…
        %p.center
          %img{:src => '/img/logo_klinic_280_owner_login.png'}
        - if @error
          %p.error=@error
        %form{:action => "/owner/login", :method => :post}
          .field
            %label{:for => :login} Login
            %input#login{:name => :email, :type => 'email'}
          .field
            %label{:for => :password} Password
            %input#password{:type => :password, :name => :password}
          .field.submit
            %input{:type => :submit, :name => '', :value => "log in"}

        %p.smaller.nomargin
          %a#forgot_show{:href => "/owner/forgotten_password"} Forgotten your password?

      #forgot{:style => "display: none;"}
        %p.center
          %img{:src => '/img/logo_klinic_280_owner_login.png'}
          If you've forgotten your password, enter your email address below to send a password reset email.
        %form#forgot_form{:action => "/owner/send_password_reset", :method => :post}
          .field
            %label{:for => :login} Email address
            %input#reset_email{:name => :email, :type => 'email'}
          .field.submit
            %input{:type => :submit, :name => '', :value => "Send"}
        
        #ajax_spinner{:style => "display: none; text-align: center;"}
          %img{:src => "/images/ajax-loader-g.gif"}
        .submit_msg.center.nomargin#reset_error{:style => "color: #c00;"}
        .submit_msg.center.nomargin#reset_success{:style => "color: #3ec55d;"}

        %p#login_show.smaller.nomargin
          %a{:href => ""} &laquo; back

:javascript
  $(function(){
    show_flash_notification();

    $('#forgot_show').on('click', function(e){
      e.preventDefault();
      $('#login').hide(); $('#forgot').fadeIn(250);
    });

    $('#login_show').on('click', function(e){
      e.preventDefault();
      $('#forgot').hide(); $('#login').fadeIn(250);
    });

    $('#forgot_form').submit(function(e){
      e.preventDefault();
      $('#ajax_spinner').show();
      $('.submit_msg').text('');
      var reset_email = $('#reset_email').val();
      $.post($(this).attr('action'), {'email': reset_email}, function(r){
        $('#ajax_spinner').hide();
        if(r == "OK"){
          $('#reset_success').text("Password reset email sent");
        } else {
          $('#reset_error').text("Email address not found");
        }
      });
    });

  });

  function show_flash_notification() {
    $('#flash').slideDown();
    setTimeout(function(){ $('#flash').slideUp(); }, 2500);
    $('#flash').mouseover(function(){ 
      $(this).slideUp(); 
    });
  }