%h2 Reset your Vet's Klinic password

%p 
  In order to reset your Vet's Klinic password, please go to the following address:
  - url = "http://#{CONFIG['domain']}/owner/reset_password?t=#{@owner.auth_token}"
  %a{:href => url}= url