!!!
.wrapsections
  .panel
    %fieldset
      %legend Project
      .tabs
        %ul
          %li.tab
            %a.nolink{:href => '#tab1'} Details
          %li.tab
            %a{:href => '#tab2'} Team
        .clear

        #tab1 
          %table
            %tr
              %th Title
              %td= @project.title
            %tr
              %th Repository
              %td= @project.repo
            %tr
              %th Public
              %td= @project.public ? "True" : "False"
          -# if @current_owner.ScrumMaster?
          %a.badge{:href  => "/owner/projects/#{@project.pk}/edit"} Edit

        #tab2.pane
          test

