- @title = "The page you were looking for doesn't exist (404)"

%h1.center 404 Not Found

.div.center
<<<<<<< Updated upstream
  %img{:src => "/img/vetsk-404.png", :style => "margin: 0 auto"}
  %h2
    The page you were looking for doesn't exist.
=======
  %h2 
  	The page you were looking for doesn't exist.
>>>>>>> Stashed changes
  %h3 
    You may have mistyped the address or the page may have moved.
  %p
    %a{:href => "/"} &larr; go back