- @bclass = 'home'
- @title = 'Welcome to FranceOneCall'

:javascript

  var banner_interval;
  $(function(){
    startRotation();
    
    $('.prev_next a').click(function(e) {
      e.preventDefault();
      var dir = $(this).attr('rel');
      clearInterval(banner_interval);
      rotateBanner('#slider', '.slide', { dir: dir });
      startRotation();
    });
    
    $('#indicator a').click(function() {
      $('#indicator li').removeClass('current');
      clearInterval(banner_interval);
      rotateBanner('#slider', '.slide', { goto: $(this).attr('rel') });
      startRotation();
    });    
    
  });
  
  function startRotation() {
    banner_interval = setInterval("rotateBanner('#slider', '.slide')", 4000);
  }
  
  

.article.mainpanel
  .panel.wrap
    %h1
      FranceOneCall Holiday rentals
  
  