!!!
- @title = "Live"
%h1.center Notifications
%p
%p

.content
  %fieldset
    %table.datatable{:style => "width: 100%"}
      %thead
        %tr
          %th Notifications
      %tbody
        - @notif_sort.each do |n|
          - @s = " - "
          - @date = n.date
          - @str_date = ""
          - if Date.parse(@date.strftime("%Y-%m-%d")) < Date.today
            - @str_date = @date.strftime("%d/%m")
          - else
            - @str_date = @date.strftime("%H:%M")
          - if n.action.eql?("affectation")
            - @s += "You have been assigned to a new " + n.type
          - elsif n.action.eql?("modification")
            - @s += "A " +n.type + " has been modified."
          - else
            - @s += n.action
          %tr.selectable{:rel => "/"}
            - if n.viewed < 2
              %td.red #{@str_date}#{@s}
            - else
              %td #{@str_date}#{@s}
